<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>练球者</title>
    {% load staticfiles %}
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body style="margin-top: 95px">
<a href="/trainer/?point=0" class="train-list">
    <img src="/static/images/icon_01_s.png">
    <p>不好(0分)</p>
</a>
<a href="/trainer/?point=1" class="train-list">
    <img src="/static/images/icon_02_s.png">
    <p>一般(1分)</p>
</a>
<a href="/trainer/?point=2" class="train-list">
    <img src="/static/images/icon_03_s.png">
    <p>较好(2分)</p>
</a>
<a href="/trainer/?point=3" class="train-list">
    <img src="/static/images/icon_04_s.png">
    <p>很棒(3分)</p>
</a>
<!--<a href="/list/">下一个</a>-->
</body>
</html>